

/* --------------------------COLORS-------------------------- */
   

    $green: linear-gradient(90deg, rgba(83,105,75,1) 0%, rgba(104,133,94,1) 100%);
    $brown: linear-gradient(135deg, rgba(228,217,200,1) 0%, rgba(235,212,176,1) 100%);
    $brown-text: #e4d9c8;
    $green2: #4e6245;
    $brown2: #d7cdbe;
    $yellow: #fcee21;
    $black: #1f1f1f;
    $black2: rgba(31, 31, 31, 0.5);


